.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
}

.App {
  max-width: 500px;
  min-height: calc(100vh - 48px);
  padding: 0 24px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.title {
  width: 100%;
  line-height: 24px;
  font-size: 16px;
}

.header {
  height: 48px;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headImg {
  height: 36px;
  width: 36px;
  margin-right: 12px;
}

.finishOrLearn {
  text-align: center;
  line-height: 100px;
}

.checkbox {
  width: 100%;
}
.check {
  width: auto;
  height: 24px;
}

.btn {
  padding-top: 24px;
}
